main.aux
main.bbl
main.bcf
main.fdb_latexmk
main.fls
main.log
main.pdf
main.run.xml
main.synctex.gz
main.toc
images/.DS_Store
pdflatex97285.fls
poly-ocd.aux
poly-ocd.bbl
poly-ocd.bcf
poly-ocd.blg
poly-ocd.fdb_latexmk
poly-ocd.fls
poly-ocd.log
poly-ocd.synctex.gz
poly-ocd.run.xml
poly-ocd.toc
.DS_Store
